<h1>My obituary</h1>
<br>


<p>Paste the Spotify URI. Click on SHARE in your spotify playlist and copy the bottom Spotify URI</p>

<br>

  <%= simple_form_for(@obituary) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.rich_text_area :rich_body %>
      </div>



      <%= f.input :spotify_list%>
      <%= f.button :submit, class: "btn btn-obnb-main-lg" %>
    </div>
  <% end %>

<br>

<% if !@obituary.spotify_list.empty? %>
<h2>Preview of your playlist for your obituary site</h2>
<iframe src= "https://open.spotify.com/embed/playlist/<%=@obituary.spotify_list.last(22)%>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<% end %>

