
<h1>My obituary</h1>
<br>


<p>Paste the Spotify URI. Click on SHARE in your spotify playlist and copy the bottom Spotify URI</p>

<br>

<div class="container mt-5">


  <%= simple_form_for(@obituary) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.input :last_words%>

      <div class="form-inputs">
        <%= f.rich_text_area :rich_body %>
      </div>

    <%= f.input :photos, as: :file, input_html: { multiple: true } %>


      <%= f.input :spotify_list%>

      <%= f.input :guestlist, label: "Enter your VIP funeral guests", input_html: {multiple: true, class: "js-choice select-multiple"} %>

      <%= f.button :submit, class: "btn btn-lj-big-g" %>

  <% end %>
</div>

<br>

<% if @obituary.spotify_list.present? %>
<h2>Preview of your playlist for your obituary site</h2>
<iframe src= "https://open.spotify.com/embed/playlist/<%=@obituary.spotify_list.last(22)%>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<% end %>



<!-- photo save and load does not work please fix save to cloudinary -->
<h2>Photo Preview</h2>
<% @obituary.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</div>

