<!-- <div class="d-flex justify-content-center mt-5 mb-5">
  <h2>Manage your last wishes</h2>
</div> -->

<!-- link to the fonts
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
<div class="container form-design mt-5 mb-5">
        <h4 class="d-flex flex-start">Plan your funeral</h4>
        <h2 class="d-flex flex-start">Dashboard</h2>
</div>

<div class="container">
  <div class="card-grid">
    <%= link_to funeral_type_path(@funeral), class: "card" do%>
      <!-- <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1544813545-4827b64fcacb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)"></div> -->
      <%= image_tag "i_cloud_dash.png" %>
      <div class="card__content">
        <p class="card__category">Plan my</p>
        <h3 class="card__heading">Funeral</h3>
      </div>
    <% end %>
    <%= link_to digital_will_path(@funeral), class: "card" do%>
      <!-- <div class="card__background" style="background-image: url(<%= asset_path "i_misc.jpg" %>)"></div> -->
      <!-- <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)"></div> -->
      <%= image_tag "i_nerd.png" %>
      <div class="card__content">
        <p class="card__category">Define my</p>
        <h3 class="card__heading">Digital will</h3>
      </div>
    <% end %>
    <%= link_to obituary_path(@funeral), class: "card d-flex" do%>
      <!-- <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1596751303335-ca42b3ca50c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=626&q=80)"></div> -->
      <%= image_tag "i_obituary_dash.png" %>
      <div class="card__content">
        <p class="card__category">Stage my</p>
        <h3 class="card__heading">Obituary</h3>
     </div>
    <% end %>
    <%= link_to funeral_documents_path(@funeral), class: "card" do%>
      <!-- <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1562240020-ce31ccb0fa7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)"></div> -->
      <%= image_tag "i_post_dash.png" %>
      <div class="card__content">
        <p class="card__category">Treasure my</p>
        <h3 class="card__heading">Documents</h3>
     </div>
    <% end %>
    <%= link_to playlist_path(@funeral), class: "card" do%>
      <!-- <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1484755560615-a4c64e778a6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=680&q=80"></div> -->
      <%= image_tag "i_music2_dash.png" %>
      <div class="card__content">
        <p class="card__category">Mix my</p>
        <h3 class="card__heading">Music</h3>
     </div>
    <% end %>
    <%= link_to funeral_create_rep_path(@funeral), class: "card" do%>
      <!-- <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1522621032211-ac0031dfbddc?ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80)"></div> -->
      <%= image_tag "i_angel_dash.png" %>
      <div class="card__content">
        <p class="card__category">Appoint my</p>
        <h3 class="card__heading">Representative</h3>
     </div>
    <% end %>
  </div>
</div>
