    <section class="home-journey">
    </section>



THIS IS A DASHBOARD THAT SHOWS ALL 7 TILES FOR THE USER

<h1>This is a H1</h1>
<h2>This is a H2</h2>

<p>I will link some pages for now </p>

<!-- please check the params current user with the correct input -->
<%= link_to 'Digital Will', digital_will_path(@funeral), class: "btn btn-primary"%>
<%= link_to 'Funeral Type', funeral_type_path(@funeral), class: "btn btn-primary"%>
<%#= link_to 'Documents', document_path(@funeral.document.id), class: "btn btn-primary"%>
<%= link_to 'Playlist', playlist_path(@funeral), class: "btn btn-primary"%>
<%= link_to 'Representative', representative_profile_path(@funeral), class: "btn btn-primary"%>
<%= link_to 'Obituary', obituary_path(@funeral), class: "btn btn-primary"%>

<br>
<br>
<br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum d adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.</p>




<!-- link to the fonts
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->

<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1507041957456-9c397ce39c97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)"></div>
      <div class="card__content">
        <p class="card__category">Define</p>
        <h3 class="card__heading">My funeral type</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1544377193-33dcf4d68fb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80)"></div>
      <div class="card__content">
        <p class="card__category">Define</p>
        <h3 class="card__heading">My digital will</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1529251333259-d36cccaf22ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1641&q=80)"></div>
      <div class="card__content">
        <p class="card__category">Set rules for</p>
        <h3 class="card__heading">My obituary</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1562240020-ce31ccb0fa7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)"></div>
      <div class="card__content">
        <p class="card__category">Store</p>
        <h3 class="card__heading">My documents</h3>
      </div>
    </a>
  <div>

</section>
