

<%#= form_tag funeral_create_rep_path(@funeral), method: :post do %>
    <%#= label_tag(:first_name, "First Name:") %>
    <%#= text_field_tag :first_name%>
    <%#= label_tag(:last_name, "Last Name:") %>
    <%#= text_field_tag :last_name%>
    <%#= label_tag(:email, "Email:") %>
    <%#= text_field_tag :email %>
    <%#= submit_tag %>
<%# end %>

<%= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-light m-1'%>
<div class="container d-flex align-items-center justify-content-center flex-row">
  <div>
    <h2>My representative</h2>
    <p>Choose your one person that will take care of all your wishes after you have passed away. </p>
  </div>
  <%= image_tag "i_angel.jpg", class: "illustration-angel" %>
</div>

<div class="container d-flex justify-content-center align-items-center flex-column" data-controller="location">

  <div class="form-design">
      <%= form_tag funeral_create_rep_path(@funeral), method: :post, class: "form-design" do %>
        <% if @funeral.representative.present? %>
         <h3 class="d-flex flex-start">Currently assigned:
          <%= @funeral.representative.first_name %>  <%= @funeral.representative.last_name %>
         </h3>
        <% end%>
        <br>
        <h4 class="d-flex flex-start">Assign new representative</h4>
        <%= label_tag(:first_name, "First Name:") %>
        <%= text_field_tag :first_name%>
        <%= label_tag(:last_name, "Last Name:") %>
        <%= text_field_tag :last_name%>
        <%= label_tag(:email, "Email:") %>
        <%= text_field_tag :email %>

    </div>


    <div class="sectionwrapper1">
      <%= image_tag "i_cloud.jpg", class: "illustration-cloud" %>
      <div class="container form-exit d-flex flex-row justify-content-between align-items-center">
        <h3>All good here, let's move on to the next section</h3>
        <%#= link_to 'Save', funerals_dashboard_path, class: 'btn btn-lj-big-m2'%>
        <%#= link_to 'Save & Exit', funerals_dashboard_path, class: 'btn btn-lj-big-m2'%>
        <%#= f.button :submit, class: "btn btn-lj-big-m2" %>
        <%#= f.submit "save and leave", class: "btn btn-lj-big-m2" %>
        <%#= link_to 'submit', funerals_dashboard_path, :onclick => "$('#edit_funeral_type_4').submit()" %>
        <%#= submit_tag %>
             <%= submit_tag %>
        <%#= f.submit name: "redirect_to", value: "Save & exit", class: "btn btn-lj-big-m2"%>
        <% end %>
      </div>
    </div>
</div>
