<% if @funeral.representative == current_user%>

<div class="container d-flex align-items-center justify-content-center flex-row">
  <div>
    <h2>Hello <%= @funeral.representative.first_name %>, </h2>
    <p><%= @funeral.user.first_name %> has chosen you as her representative in case of her death. To make things easier for you during these diffcult times, <%= @funeral.user.first_name %> has been planning ahead with the help of Last Journey. The following data will help you administer her estate, organize the funeral and preserve her memory.</p>
  </div>

  <%= image_tag "i_done.png", class: "illustration-angel" %>
</div>


<div class="container rep-header d-flex flex-column">
    <div>
      <h4>Last will details</h4>
      <h2><%= @funeral.user.first_name %> was prepared for this</h2>
      <p>Please respect <%= @funeral.user.first_name %>'s preferences when handling her matters</p>
    </div>
</div>

    <div class="container">
      <div class="d-flex flex-row justify-content-between rep-header">
          <div class="will-border funeral-preferences-box">
              <h5>Funeral preferences</h5>
              <p><strong style="color:#3E2F5B">Burial Type:</strong> <%= @funeral.funeral_type.burial_type %></p>
              <p><strong style="color:#3E2F5B">Burial Location:</strong> <%= @funeral.funeral_type.loc_city %></p>
              <p><strong style="color:#3E2F5B">Funeral comments:</strong> <%= @funeral.funeral_type.comment %></p>
          </div>
          <div class="will-border digital-will-box">
              <h5>Digital will preferences</h5>
              <p><strong style="color:#3E2F5B">Accounts to cancel:</strong> <% @funeral.digital_will.cancel_accounts %>
              <p><strong style="color:#3E2F5B">Facebook obituary wanted?</strong>
                <% if  @funeral.digital_will.facebook_obituary%>
                Yes
                <% else %>
                No
                <% end %>
              </p>
              <p><strong style="color:#3E2F5B">Bank accounts:</strong> <%= @funeral.digital_will.bank_account_1 %>, <%= @funeral.digital_will.bank_account_2 %> <%= @funeral.digital_will.bank_account_3 %></p>
              <p><strong style="color:#3E2F5B">Insurance accounts:</strong> <%= @funeral.digital_will.insurance_account_1 %>, <%= @funeral.digital_will.insurance_account_2 %> <%= @funeral.digital_will.insurance_account_3 %></p>
              <p><strong style="color:#3E2F5B">Hardware instruction:</strong> <%= @funeral.digital_will.hardware %></p>
              <p><strong style="color:#3E2F5B">Other digital will instructions:</strong> <%= @funeral.digital_will.comment %></p>
          </div>
      </div>
    </div>


  <div class="container d-flex flex-column justify-content-between">
      <p class="mt-5">Please notice the following important documents provided by <%= @funeral.user.first_name %></p>
      <div class="container will-border important-documents-box">
        <h5>Important documents</h5>
        <ul class="picturelist documents-grid mt-5">
          <% @funeral.documents.each do |document| %>
            <li class="d-flex justify-content-around flex-row align-items-center document-single">
              <%= link_to cloudinary_url(document.key), target: "_blank" do %>
              <%= cl_image_tag document.key, format: :jpg, height: 134, width: 105, crop: :fill, class: "doc_shadow" %>
              <% end %>
                <div class="d-flex flex-column align-items-center">
                  <p class="filename">Filename: </p>
                  <p class="filename"><%= document.filename %></p>
                  <div class="filename">
                    <%= link_to 'Delete', funeral_document_path(@funeral, document), method: 'delete', data: { confirm: "Are you sure?" }, class: "btn upload-photo mt-3 mb-2" %>
                  </div>
                </div>
              </li>
          <% end %>
          </ul>
    </div>
</div>




  <div class="container d-flex">
  <div class="form-design">
      <%= simple_form_for(@funeral.obituary) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div style="margin-top:70px"></div>
        <h4 class="d-flex flex-start">Obituary Notice</h4>
        <h2 class="d-flex flex-start">Just a few missing pieces</h2>
        <p>Please fill in final missing details for <%= @funeral.user.first_name %>'s obituary notice. It will form part of her online memorial.</p>
        <%= f.input :death_date, html5:true, input_html: {class: 'textfield'}%>
        <%= f.input :death_location, label: 'Death location', input_html: {class: 'textfield'}%>
        <%= f.input :funeral_time, html5:true, input_html: {class: 'textfield'}%>
        <%= f.input :funeral_location, label: 'Funeral location', input_html: {class: 'textfield'}%>
        <%= f.input :funeral_info, label: 'Other guest announcements about the funeral', :as => :text, :input_html => {:class => "textfield", :style=> 'width: 100%;', 'rows' => 5}%>
<!--         <%#= f.input :public, label: 'Publish obituary now', input_html: {class: 'textfield'}%> -->
        <div style="margin-top:80px"></div>
        <h4 class="d-flex flex-start">Memorial Page</h4>
        <h2 class="d-flex flex-start">May she rest in peace...</h2>
        <p>Please click below to publish <%= @funeral.user.first_name %>'s online memorial. Invitations will be sent to her predefined guestlist via email. As representative you are able to change and moderate the content on the memorial page later.</p>
    </div>
  </div>


    <div class="sectionwrapper1">
      <%= image_tag "i_cloud.jpg", class: "illustration-cloud-representative" %>
      <div class="container form-exit d-flex flex-row justify-content-between align-items-center">
        <h3>Ready? Publish her online memorial</h3>
<!--         Publishing does not work yet -->
        <%= f.button :submit, value: "Save", class: "btn btn-lj-big-m2" %>
        <%#= f.submit name: "redirect_to", value: "Submit", class: "btn btn-lj-big-m2"%>
<!--         Nice to have: ajax -->
        <% if @funeral.obituary.public %>
          <%= link_to "Unpublish", obituary_path(@funeral.obituary, obituary: {public: false}), method: :patch,  class: "btn btn-lj-big-m2" %>
          <%= link_to "Visit obituary", public_obituary_path(@funeral.obituary),  target: "_blank", class: "btn btn-lj-big-m2" %>
        <% else %>
          <%= link_to "Publish", obituary_path(@funeral.obituary, obituary: {public: true}), method: :patch, class: "btn btn-lj-big-m2" %>
        <% end %>
      <% end %>
      </div>
    </div>
</div>




<!-- if a user is not authorized they see the following: -->
<% else %>
Go away. You are not authorized.
<% end %>
