<body class = "nonav">

<div class="container d-flex justify-content-space-between mt-5">
  <div class="d-flex flex-column justify-content-between home-head">
    <%= image_tag "logo_tree_b.png", class: "logo" %>
    <h1>Last Journey</h1>
    <h2>Organize your own funeral and have everything planned for the last great adventure of life.</h2>
    <%= link_to 'Get peace of mind now', funerals_dashboard_path, class: "btn btn-lj-big-m3" %>
    <%= link_to 'Representative Login', funerals_dashboard_path, class: "btn btn-lj-big-m3 mt-2" %>
  </div>

  <div>
    <%= image_tag "i_cover.jpg", class: "illustration-cover" %>
  </div>
</div>

<div class="container sectionwrapper2">
  <%= image_tag "i_done.jpg", class: "illustration-done" %>
  <div class="mt-5">
    <h2>Take a burden of yourself and your beloved ones</h2>
    <p class = "home-textbox-1">Make sure no one will access your nude pics and your last wishes are passed on. Your life is digital, so should be your choices what happens to your digital life after death.</p>
  </div>
  <%= image_tag "i_cloud.png", class: "illustration-cloud-home1" %>
</div>

<div class="container sectionwrapper3">
  <%= image_tag "i_obituary.jpg", class: "illustration-obituary" %>
  <h2>It is all about you afterall</h2>
  <p class = "home-textbox-2">Your Style</p>
  <p class = "home-textbox-3">Plan your Individual funeral and last will</p>
  <p class = "home-textbox-4">Your rep</p>
  <p class = "home-textbox-5">Assign your representative</p>
  <p class = "home-textbox-6">Your obituary</p>
  <p class = "home-textbox-7">Find your peace while everything will happen according to your wished</p>
  <%= image_tag "i_cloud.png", class: "illustration-cloud-home2" %>
</div>
</body>
