<body class = "nonav">

<div class="container d-flex justify-content-space-between mt-5 default-space-bottom">
  <div class="d-flex flex-column justify-content-between home-head">
    <%= image_tag "logo_tree_m.png", class: "logo" %>
    <h1 class="mb-2">Last Journey</h1>
    <h2 class="mb-5">Organize your funeral and have everything planned for the last adventure of life.</h2>
    <%  %>
    <%= link_to 'Get peace of mind now', funerals_dashboard_path, class: "btn btn-lj-big-m3"  unless current_user && current_user.representative?%>
    <%= link_to 'Representative Login', representative_path(24), class: "btn btn-lj-big-m3-contrary mt-2" unless current_user && current_user.owner?%>
  </div>

  <div>
    <%= image_tag "i_cover.jpg", class: "illustration-cover" %>
  </div>
</div>

<div class="container sectionwrapper2 default-space-top default-space-bottom">
  <%= image_tag "i_done.jpg", class: "illustration-done" %>
  <div class="mt-5">
    <h2>Take the burden of yourself and your beloved ones</h2>
    <p class = "home-textbox-1">Your life is digital, so should be the choices about your digital afterlife. Ensure no one accesses your nude pics and pass on your last will.</p>
  </div>
  <%= image_tag "i_cloud.png", class: "illustration-cloud-home1" %>
</div>

  <div class="container sectionwrapper3 default-space-top">
    <%= image_tag "i_obituary.jpg", class: "illustration-obituary" %>
    <h2>It is all about you afterall...</h2>
    <p class = "home-textbox-2"><strong>Your style</strong></p>
    <p class = "home-textbox-3">Plan your individual funeral and last will</p>
    <p class = "home-textbox-4"><strong>Your representative</strong></p>
    <p class = "home-textbox-5">Assign your personal representative on earth</p>
    <p class = "home-textbox-6"><strong>Your obituary</strong></p>
    <p class = "home-textbox-7">Find peace while everything goes according to plan</p>
    <%= image_tag "i_cloud.png", class: "illustration-cloud-home2" %>
  </div>
</body>
