<div class="container d-flex justify-content-center flex-column align-items-center mt-5">

<h2>Make the most important documents available to your trusted person. </h2>
<p>Please be aware that in Germany only the original signed documents are legally binding. </p>

<%= simple_form_for([@funeral, @document]) do |f| %>
  <%= f.error :base %>
  <%= f.input :file, as: :file, label: "Please upload a document here"%>
  <%= f.button :submit, class: "btn btn-lj-big-g" %>

<% end %>

<ul class="picturelist mt-5">
  <% @documents.each do |document| %>
    <li class="d-flex justify-content-center flex-column align-items-center ">
      <%= cl_image_tag document.file.key, format: :jpg, height: 400, width: 500, crop: :fill %>
      <%= link_to document.file_name, cloudinary_url(document.file.key), target: "_blank"%>
      <%= link_to 'Delete', funeral_document_path(@funeral, document), method: 'delete', data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
</div>

