<%= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-light m-1'%>

<div class="container d-flex justify-content-center flex-column align-items-center mt-2">
    <div class="form-design sectionwrapper4">
    <%= simple_form_for([@funeral, @document]) do |f| %>
      <%= f.error :base %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div>
        <%= image_tag "i_cloud.png", class: "illustration-cloud-documents1" %>
      </div>
      <h4 class="d-flex flex-start">Upload Documents</h4>
      <h2 class="d-flex flex-start">Make the most important documents available to your trusted person.</h2>
      <label class="btn upload-photo">
        Add a file!
        <span style="display:none;">
          <%= f.input :file, as: :file%>
        </span>
      </label>
      <p><i>Please be aware that in Germany only the original signed documents are legally binding.</i></p>
      <%= f.button :submit, class: "btn btn-lj-big-m2 flex-start" %>
    <% end %>

    <!-- <ul class="picturelist mt-5"> -->
      <%# @documents.each do |document| %>
        <!-- <li class="d-flex justify-content-center flex-column align-items-center "> -->
          <%#= cl_image_tag document.file.key, format: :jpg, height: 400, width: 500, crop: :fill %>
          <%#= link_to cloudinary_url(document.file.key), target: "_blank"%>
          <%#= link_to 'Delete', funeral_document_path(@funeral, document), method: 'delete', data: { confirm: "Are you sure?" } %>
        <!-- </li> -->
      <%# end %>
    <!-- </ul> -->

    <ul class="picturelist documents-grid mt-5">
      <% @documents.each do |document| %>
        <li class="d-flex justify-content-center flex-column align-items-center document-single">
          <%= link_to cloudinary_url(document.file.key), target: "_blank" do %>
          <%= cl_image_tag document.file.key, format: :jpg, height: 400, width: 500, crop: :fill %>
          <% end %>
          <p>Filename: <%= document.file_name %></p>
          <%= link_to 'Delete', funeral_document_path(@funeral, document), method: 'delete', data: { confirm: "Are you sure?" }, class: "btn upload-photo mt-3 mb-2" %>
        </li>
      <% end %>
      </ul>
    </div>
</div>

<div class="container d-flex justify-content-center mt-5">
    <%= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-secondary btn-lg btn-block'%>
</div>


