<%#= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-light m-1'%>

<div class="container d-flex justify-content-center flex-column align-items-center mt-2">
  <div>
    <h2>My documents</h2>
    <p>The bad news first: you are going to be outlived by bureaucracy. Good news: you come prepared. Upload all important documents here so that you can find peace while everything goes according to plan </p>
  </div>

    <div class="form-design sectionwrapper4">
    <%= simple_form_for(@funeral, url: funeral_documents_path(@funeral), method: :post) do |f| %>
      <%= f.error :base %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div>
        <%= image_tag "i_cloud.png", class: "illustration-cloud-documents1" %>
      </div>
      <h4 class="d-flex flex-start">Document upload</h4>
      <h2 class="d-flex flex-start">Long live bureaucracy </h2>
      <label class="btn upload-photo">
        Add a file!
        <span style="display:none;">
          <%= f.input :documents, as: :file, input_html: { multiple: true } %>
        </span>
      </label>
     <p><label id="preview-name"></label></p>
      <p><i>Disclaimer: In Germany only signed original documents are legally binding.</i></p>
      <%= f.button :submit, value: 'Upload', class: "btn btn-lj-big-m2 flex-start" %>
    <% end %>


    <ul class="picturelist documents-grid mt-5">
      <% @funeral.documents.each do |document| %>
        <li class="d-flex justify-content-around flex-row align-items-center document-single">
          <%= link_to cloudinary_url(document.key), target: "_blank" do %>
          <%= cl_image_tag document.key, format: :jpg, height: 134, width: 105, crop: :fill %>
          <% end %>
            <div class="d-flex flex-column align-items-center">
              <p class="filename">Filename: </p>
              <p class="filename"><%= document.filename %></p>
              <div class="filename">
                <%= link_to 'Delete', funeral_document_path(@funeral, document), method: 'delete', data: { confirm: "Are you sure?" }, class: "btn upload-photo mt-3 mb-2" %>
              </div>
            </div>
          </li>
      <% end %>
      </ul>
    </div>


    <div class="sectionwrapper1">
      <%= image_tag "i_cloud.jpg", class: "illustration-cloud" %>
      <div class="container form-exit d-flex flex-row justify-content-between align-items-center">
        <h3>Good to have this out of our way! Shall we...?</h3>
        <%= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-lj-big-m2'%>
      </div>
    </div>

</div>
