<%#= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-light m-1'%>
<div class="container d-flex align-items-center justify-content-center flex-row">
  <div>
    <h2>My funeral</h2>
    <p>Your life is unique - and so will be your last journey. What kind of resting place do you imagine for yourself? Do you have a personal connection to a specific location? Whatever you choose, make sure the neighborhood is to your liking. 😇</p>
  </div>
  <%= image_tag "i_angel.jpg", class: "illustration-angel" %>
</div>

<div class="container d-flex justify-content-center align-items-center flex-column" data-controller="location">


  <div class="form-design">
      <%#= form_tag funeral_type_path(@funeral_type), method: :get do %>
      <%# FuneralType::CATEGORIES.each do |category| %>
        <%#= radio_button_tag :burial_type, category, params[:burial_type]  %>
        <%#= label_tag category %>
        <%# end %>
      <%#= submit_tag "Filter", class: "btn btn-primary" %>
      <%# end %>

      <%= simple_form_for(@funeral_type) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <h4 class="d-flex flex-start" id="anchor_burial_type">Burial Type</h4>
        <h2 class="d-flex flex-start">How great spirits find peace</h2>
        <%= f.input :burial_type, label: 'Choose your preferred burial type.',
                as: :radio_buttons, collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: FuneralType::CATEGORIES,
                checked: params[:burial_type]%>
        <h4 class="d-flex flex-start default-space-top">Burial Location</h4>
        <h2 class="d-flex flex-start">Relax - there is enough space for everyone</h2>
        <p>Select your eternal hunting grounds on the map</p>
          <div id="map"
               style="width: 100%; height: 400px; margin-bottom: 0px;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        <%#= f.input :loc_street, label: 'Street'%>
        <%#= f.input :loc_zip, label: 'Zip code'%>
        <div class="mt-2">
        <%= f.input :loc_city, label: 'Burial location choice as selected from map', input_html: {class: 'textfield', data: { target: "location.cityName" }} %>
        </div>
        <h4 class="d-flex flex-start default-space-top">Further preferences</h4>
        <h2 class="d-flex flex-start">My last post-it on the fridge</h2>

        <%= f.input :comment, label: 'Your funeral - your rules. Set further preferences (e.g. decoration, dresscode...)', :as => :text, :input_html => {:class => "textfield", :style=> 'width: 100%;', 'rows' => 5}, placeholder: "Please wear something colorful to my funeral and sing my favorite songs together."%>
    </div>

    <div class="sectionwrapper1">
      <%= image_tag "i_cloud.jpg", class: "illustration-cloud" %>
      <div class="container form-exit d-flex flex-row justify-content-between align-items-center">
        <h3 class="checkout-text">Wow, that was quick. Let's move on 💨</h3>
        <%= f.button :submit, value: "Save", class: "btn btn-lj-big-m2" %>
        <%= f.submit name: "redirect_to", value: "Save & exit", class: "btn btn-lj-big-m2"%>
        <% end %>
      </div>
    </div>
</div>





<!-- <div class="container d-flex justify-content-center mt-5">
    <%#= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-block'%>
</div> -->


