<%= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-light m-1'%>
<div class="container d-flex align-items-center justify-content-center flex-row">
  <div>
    <h2>Where great spirits find their rest</h2>
    <p>There is not just one or the place to beginn jour last journey. It just depends on your preferences. Ask yourself what kind of last locale you want. Should it be one specific physical space? How much resources should it take to take care of that place? Do you have a personal connection to a place? Do you want this place to last and become a place for your family and friends to retrun to? </p>
  </div>
  <%= image_tag "i_angel.jpg", class: "illustration-angel" %>
</div>

<div class="container d-flex justify-content-center align-items-center flex-column">


  <div class="form-design">
      <%= simple_form_for(@funeral_type) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <h4 class="d-flex flex-start">Burial Type</h4>
        <h2 class="d-flex flex-start">Where great spirits find their rest</h2>
        <%= f.input :burial_type, label: 'Please choose your favourite burial type.',
                as: :radio_buttons, collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: FuneralType::CATEGORIES %>
        <p>Please specify below a favourite location for your funeral. A city without Street/ ZIP is sufficicient.</p>
        <%#= f.input :loc_street, label: 'Street'%>
        <%#= f.input :loc_zip, label: 'Zip code'%>
        <%= f.input :loc_city, label: 'Location', input_html: {class: 'textfield'} %>
        <%= f.input :comment, label: 'What else do you want to say?', :as => :text, :input_html => {:class => "textfield", :style=> 'width: 100%;', 'rows' => 5}%>
    </div>

    <h2>Funeral locations in Europe</h2>
    <div id="map"
         style="width: 100%; height: 300px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="sectionwrapper1">
      <%= image_tag "i_cloud.jpg", class: "illustration-cloud" %>
      <div class="container form-exit d-flex flex-row justify-content-between align-items-center">
        <h3>All good here, let's move on to the next section</h3>
        <%#= link_to 'Save', funerals_dashboard_path, class: 'btn btn-lj-big-m2'%>
        <%#= link_to 'Save & Exit', funerals_dashboard_path, class: 'btn btn-lj-big-m2'%>
        <%#= f.button :submit, class: "btn btn-lj-big-m2" %>
        <%#= f.submit "save and leave", class: "btn btn-lj-big-m2" %>
        <%#= link_to 'submit', funerals_dashboard_path, :onclick => "$('#edit_funeral_type_4').submit()" %>
        <%= f.button :submit, value: "Save", class: "btn btn-lj-big-m2" %>
        <%= f.submit name: "redirect_to", value: "Save and leave", class: "btn btn-lj-big-m2"%>
        <% end %>
      </div>
    </div>
</div>





<!-- <div class="container d-flex justify-content-center mt-5">
    <%#= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-block'%>
</div> -->


