
<h1><%= @obituary %></h1>

<ul>
  <% @obituary.funeral.condolences.each do |condolence| %>
    <li>
      <%= condolence.first_name %>
      <%= condolence.content %>
      <% if policy(condolence).destroy? %>
        <%= link_to 'Delete', condolence_path(condolence), method: 'delete', data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= simple_form_for(@condolence, url: create_condolence_path(@obituary)) do |f| %>
  <div class="form-inputs p-5 d-flex justify-content-center flex-column">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :content %>
  <div class="form-actions d-flex justify-content-center align-items-center">
    <%= f.button :submit, class: "btn btn-lj-big-g" %>
  </div>
<% end %>