<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, @banner_title %>
<% content_for :meta_description, @banner_title %>
<% content_for :meta_image, @banner_url %>

<% if @obituary.public %>

<h2>Last Words of <%= @obituary.funeral.user.first_name%></h2>
"<%= @obituary.last_words %>"

<h2>Death Date</h2>
"<%= @obituary.death_date %>"

<h2>Death Location</h2>
"<%= @obituary.death_location %>"

<h2>Funeral time</h2>
"<%= @obituary.funeral_time %>"

<h2>Funeral Location</h2>
"<%= @obituary.funeral_location %>"

<h2>Funeral Info</h2>
"<%= @obituary.funeral_info%>"


<h2>Spotify list</h2>
"<%= @obituary.spotify_list %>"

    <div class="container d-flex justify-content-center align-items-center flex-column">

      <% if @obituary.spotify_list.present? %>
        <div class = "d-flex justify-content-center align-items-center spotifyplayer mt-5">
          <iframe src="https://open.spotify.com/embed/playlist/<%=@obituary.spotify_list %>" width="100%" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      <% end %>
    </div>


<ul>
  <% @obituary.funeral.condolences.each do |condolence| %>
    <li>
      <%= condolence.first_name %>
      <%= condolence.content %>
      <% if policy(condolence).destroy? %>
        <%= link_to 'Delete', condolence_path(condolence), method: 'delete', data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= simple_form_for(@condolence, url: create_condolence_path(@obituary)) do |f| %>
  <div class="form-inputs p-5 d-flex justify-content-center flex-column">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :content %>
  <div class="form-actions d-flex justify-content-center align-items-center">
    <%= f.button :submit, class: "btn btn-lj-big-g" %>
  </div>
<% end %>

<% else %>
This site is not public.
<% end %>
