<%= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-light m-1'%>
<div class="container d-flex align-items-center justify-content-center flex-column mt-5">

<h2>What are your wishes and preferences regarding your digital after life? </h2>
<p>Apparantly once we are gone we are not fully gone. Contracts, data and liabilities stay as they are when no one looks after them. That can potentially cause problems for those who inherit or they miss out on wealth you may not have thought of. We would like to give you a couple of examples and make you think of the accounts, contracts, bonus cards etc. you have and your loved ones should take care of. </p>
<div class="form-design">
  <%= simple_form_for(@digital_will) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :facebook_obituary, as: :radio_buttons,
        input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item',
        label: 'If you have a Facebook account, do you wish it to become an obituary page?'%>
      <%= f.input :cancel_accounts, label: 'The following accounts need to be cancelled, e.g. Netflix?' %>
      <%= f.input :bank_account_1, label: 'Bank Account to be cancelled. Sorry...not a lot of money here, but still ;) ' %>
      <%= f.input :bank_account_2, label: 'Bank Account 2' %>
      <%= f.input :bank_account_3, label: 'Bank Account 3' %>
      <%= f.input :insurance_account_1, label: 'Insurance 1' %>
      <%= f.input :insurance_account_2, label: 'Insurance 2' %>
      <%= f.input :insurance_account_3, label: 'Insurance 3' %>
      <%= f.input :hardware, label: 'What should happen to your hardware (e.g. hard-drives, mobile phone)?' %>
      <%= f.input :comment, label: 'Please state a general comment about things that need to be taken care of.' %>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-lj-big-g" %>
    </div>
  <% end %>
</div>
</div>

<br>
<br>
<div class="container d-flex justify-content-center mt-5">
    <%= link_to 'Back to overview', funerals_dashboard_path, class: 'btn btn-secondary btn-lg btn-block'%>
</div>
</div>


