<div class="container mt-5">
<h2>"Music is the soundtrack of your life" - Dick Clark</h2>
<p>There are a ton of ways to find your last words or create something meaningful to you or your beloved family and friends.
Sometimes music helps to say a lot more - to remember certain moments, get a bit emotional, to laugh, to cry or to just dance.
Determine what you want them to remember thinking of you. Create the soundtrack of your life in Spotify and connect your playlist.
This can be shared with your friends and family after your funeral to remember you the way you want. But also think about the funeral itself.
Music means a lot to you and is an important part of everyones' funeral. List the songs you wish to be played during your ceremony. </p>

  <%= simple_form_for(@playlist) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs p-5 d-flex justify-content-center flex-column">
      <%= f.input :spotify_url, wrapper_html: {class: "form-group d-flex align-items-center flex-column"}, label: 'Please insert your favorite spotify url and save it for your descendants. For you, it will already magically appear below 😇 ' %>
      <%= f.input :spotify_profile_url, label: 'If you like, put in your spotify profile URI here, so that anyone can follow all of your playlists' %>
    <div class="form-actions d-flex justify-content-center align-items-center">
      <%= f.button :submit, class: "btn btn-lj-big-g" %>
    </div>
  <% end %>

</div>

<br>
<br>

<% if @spotify_profile_url.present? %>
<div class = "d-flex justify-content-center align-items-center">
  <iframe src="https://open.spotify.com/follow/1/?uri=<%=@spotify_profile_url%>&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
</div>
<% end %>

<br>
<br>
<br>



<% if @embed_spotify_url.present? %>
  <div class = "d-flex justify-content-center align-items-center spotifyplayer">
    <iframe src="https://open.spotify.com/embed/playlist/<%=@embed_spotify_url %>" width="100%" height="1000" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
<% end %>

